!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title jstest
    = stylesheets
    %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300italic,400italic,700italic,400,300,700'}
  %body

    .nav
      %h1
        = link 'jstest', '/'
      %p.download
        = link 'Download v1.0.2', '/assets/jstest.1-0-2.zip'
      %ul
        %li
          = link 'Getting started', '/intro.html'
        %li
          = link 'Loading your scripts', '/loading.html'
        %li
          = link 'Browser testing', '/browser.html'
          %ul
            %li
              = link 'Buster.JS', '/buster.html'
            %li
              = link 'Karma', '/karma.html'
            %li
              = link 'PhantomJS', '/phantom.html'
            %li
              = link 'SlimerJS', '/slimer.html'
            %li
              = link 'Teabag', '/teabag.html'
            %li
              = link 'Testem', '/testem.html'
            %li
              = link 'Testling CI', '/testling.html'
            %li
              = link 'TestSwarm', '/testswarm.html'
        %li
          = link 'Server-side testing', '/server.html'
          %ul
            %li
              = link 'Output formats', '/formats.html'
            %li
              = link 'jstest for Node.js', '/node.html'
            %li
              = link 'Windows Script Host', '/wsh.html'
        %li
          = link 'API reference', '/api.html'
          %ul
            %li
              = link 'Context blocks', '/contexts.html'
            %li
              = link 'Assertions', '/assertions.html'
            %li
              = link 'Stubbing and mocking', '/mocking.html'
              %ul
                %li
                  = link 'Fake timers', '/timers.html'
            %li
              = link 'Asynchronous tests', '/async.html'
            %li
              = link 'Reporter plugins', '/reporters.html'
              %ul
                %li
                  = link 'Custom reporters', '/custom.html'
                %li
                  = link 'Console output', '/console.html'
                %li
                  = link 'The JSON reporter', '/json.html'

    .content
      = yield

    .footer
      Copyright &copy; 2007&ndash;2013 James Coglan, released under the MIT license

    = javascripts 'prettify', 'analytics'
    :plain
      <script type="text/javascript">
        (function() {
          var pre = document.getElementsByTagName('pre'), n = pre.length
          while (n--) {
            if (!pre[n].className) pre[n].className = 'prettyprint'
          }
          prettyPrint()
        })()
      </script>

